$white: #ffffff;
$black: #000000;
$light-grey: #f2f2f2;
$dark-grey: #303539;

$spacing: 32px;
$spacing-tiny: $spacing / 4;
$spacing-small: $spacing / 2;
$spacing-large: $spacing * 2;
$spacing-extra-large: $spacing * 4;